language: java


jdk:
  - openjdk13

install: skip

script:
  - chmod +x etc/devscripts/*.sh
  - cd ./etc/devscripts;./mvnw.sh -U -Pheadless site
  - cd ./etc/devscripts;./mvnw.sh -U -Pheadless clean install
  - bash <(curl -s https://codecov.io/bash)
  - cd ./etc/devscripts;./buildAppImage.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)
