[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Jenkins Monitor 0.0.2-SNAPSHOT
GenericName=Jenkins Monitor
Comment=Ein Monitor für Jenkins Jobs.
Icon=1984EmmanuelGoldstein
Exec=Jenkins_Monitor_0.0.2-SNAPSHOT-x86_64.AppImage
MimeType=application/x-iso9660-appimage;
Terminal=false
StartupNotify=true
Categories=Development;
X-GNOME-Autostart-Delay=5
