[Desktop Entry]
Type=Application
Name=Jenkins Monitor 0.0.2-SNAPSHOT
GenericName=Jenkins Monitor
Comment=Ein Monitor für Jenkins Jobs.
Icon=1984EmmanuelGoldstein
Exec=jenkinsmonitor.wrapper
Categories=Development;
StartupNotify=true
