name: Java CI

on:
  push:
  workflow_dispatch: {}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java-version }}
          java-package: jdk
          cache: 'maven'

      - name: Build with Maven
        run: ./mvnw -PpruefeVersionen -Pheadless -PaddStandardArtifacts clean install

    strategy:
          matrix:
            java-version:
            - 11
            - 17
            - 19
